accelerate
audio-separator==0.30.2
av
cffi
chardet
diffusers==0.35.1
einops==0.8.0
ftfy==6.2.0
gguf>=0.10.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
librosa==0.11.0
numpy==1.26.4
nvidia-ml-py
onnx
onnxruntime
openai
opencv-python-headless
pyloudnorm
scikit-image
scikit-learn
scipy
soundfile
soxr
sympy
transformers>=4.50.3,<5
tzdata

